[2014-09-18 03:52] wcandillon opened #8 "Wrong order in singletons"
https://www.dropbox.com/s/7v341denhsalryb/Screenshot%202014-09-17%2020.52.29.png?dl=0

[2014-09-30 15:06] ghost opened #10 "Doesn't work with Swagger 2.0 Specification"
[code]

[2014-10-01 13:47] ghost opened #14 "lodash not in npm package"
For the swagger-2.0 branch only: there's a dependency on lodash in codegen.js that is not in the package.json file, so it doesn't get installed automatically by npm.

[code]

[2014-10-01 17:10] #14 closed, assigned to nobody

[2014-10-01 17:11] #10 closed, assigned to wcandillon

[2014-10-04 17:56] #8 closed, assigned to nobody

[2014-10-19 02:24] vagh27 opened #16 "Support for 2.0 spec path parameters"
The codegen throws an error whenever a path parameter is used in the 2.0 spec:
`Error: Expected an assignment or function call and instead saw an expression.`

[2014-10-19 10:40] #16 closed, assigned to wcandillon

[2014-11-21 21:23] bradygaster-zz opened #22 "Cannot call method 'forEach' of undefined"
I'm trying to use the code generator in a relatively basic demo scenario. I'm using the code below to access the demonstration Swagger 2.0 pet store JSON document here:

https://raw.githubusercontent.com/swagger-api/swagger-spec/master/examples/v2.0/json/petstore-simple.json

Here's my Node.js code for a complete repro of what I'm trying to accomplish:

[code]

The error I'm receiving is:
TypeErro

[2014-11-21 21:39] #22 closed, assigned to nobody

[2014-11-22 22:40] bradygaster opened #23 "Samples"
It'd be great to have samples demonstrating the generated code in HTML pages. I'm having some difficulty wiring up the factories into a single controller. A simple pet store demo would be quite helpful.

[2014-11-25 12:00] wangjia184 opened #24 "Generated HTTP method is empty for AngularJS client"
I am not sure if this issue exists in generated nodejs code, it does exist for generated AngularJS when swagger spec JSON is loaded from [ServiceStack's Swagger API](https://github.com/ServiceStack/ServiceStack/wiki/Swagger-API).

            var method = {
                path: api.path,
                className: opts.className,
                methodName: op.nickname,
                method: op

[2014-11-25 19:18] WCPetersen opened #25 "Support custom templates"
I'm using swagger-js-codegen to generate a library in a unique environment (Node + Browserify + Ember). Right now, I'm using a forked version with custom templates. It would be nice if the codegen could be used with custom templates without making an entire fork. Something like:

[code]

[2014-11-29 05:23] #25 closed, assigned to nobody

[2014-12-02 19:44] wking opened #27 "Use Angular's $resource service"
The current generated code uses `$q` and `$http` directly, but it seems like it would be easier to take advantage of the existing [`$resource` service][1] to setup the Angular bindings.  Thoughts?

[1]: https://docs.angularjs.org/api/ngResource/service/$resource

[2014-12-28 18:46] pulkitsinghal opened #28 "`form` param trashes the ability to send `json`"
First off, **thank you** for the awesome work on this library!
### Summary

The generated code always looks like:

[code]

And sending a request with json does not work. In order to fix this ... `form` needs to be removed entirely and `body: body,` needs to change to be `json:body`
### Long Story

I recently used `swagger-js-codegen` with a framework known as `strongloop/loopback` and ran into som

[2014-12-28 18:59] pulkitsinghal opened #29 "Syntax for attaching methods via prototype is broken?"
### Summary

My generated code has methods like:

[code]

This results in errors such as `TypeError: Cannot set property 'updateAttributes' of undefined` ... in order to fix this, the generated code needs to be tweaked like so:

[code]
### Long Story

I recently used `swagger-js-codegen` with a framework known as `strongloop/loopback` and ran into some issues so I've created a demo branch to make

[2014-12-29 18:18] #28 closed, assigned to wcandillon

[2014-12-29 20:44] #29 closed, assigned to wcandillon

[2014-12-29 22:23] reginaldlouis opened #32 "Using operationId for method name"
Are you considering using the `operationId` of `path` for naming the method?

[2014-12-29 23:30] #32 closed, assigned to nobody

[2015-01-03 00:59] pulkitsinghal opened #34 "Make `methodName` in `codegen.js` customizable"
I want to submit a PR in order to make the following line of code in `codegen.js` configurable:
`methodName: op.nickname,`
but I don't understand the library very well so I wanted to pick your brain first.

I want to do something like:
`methodName: (opts['nickname']) ? opts['nickname'](op) : op.nickname,`
so that by default if someone didn't want to customize the `methodName`, everything will rema

[2015-01-03 01:06] pulkitsinghal commented on #34
Also let me explain the motivation behind why I want to perform such a transformation. In the swagger spec generated by a 3rd party library, I receive nicknames like:
 - `normalMethodName`
 - `prototype.normalMethodName`
 - `prototype.__normalMethodName__className`

And I need to convert them to method names like the following for my nodejs client to work:
 - `normalMethodName`
 - `constructor.pro

[2015-01-03 01:17] wcandillon commented on #34
@pulkitsinghal that make sense, you can go ahead with the PR.

[2015-01-05 02:53] wcandillon commented on #24
`httpMethod` doesn't appear to be a valid property name. I couldn't find it in swagger 1.0 or 2.0 specs.

[2015-01-05 02:53] #24 closed

[2015-01-06 06:53] wangjia184 commented on #24
I know, but that is what it actually responsed from ServiceStack's Swagger extension.
please could you add that as a fallback support

[2015-01-06 17:09] wcandillon commented on #24
@wangjia184 You can simply process the JSON file to conform to the swagger spec before feeding it to the swagger codegen. Does it make sense?

[2015-01-07 08:26] wangjia184 commented on #24
well, I can't find a way to correct the JSON spec on server side as ServiceStack wraps it without any inspect channce.   To correct the JSON in client side is not a problem for me.  but it will be a problem for the developers who call my REST interface. -- they may not be aware of this problem and encounter the same issue as I did when I first time try your lovely library :)

[2015-01-09 01:40] borisirota opened #38 "support swagger 2.0 vendor extensions"
Hi,

Swagger 2.0 spec support [vendor extensions](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#vendorExtensions).

I'm using Apigee's [x-swagger-router-controller](https://github.com/apigee-127/a127-documentation/wiki/Quick-start-deep-dive#the-paths-object-and-swagger-extensions) and the code fails (make sense):
[code]

Swagger.yaml example:
[code]

Thanks,
Boris

[2015-01-09 02:09] borisirota commented on #38
Just to be clear, by support my meaning is to ignore vendor extensions without crushing :)

[2015-01-09 02:13] wcandillon commented on #38
@borisirota Thank you so much for reporting this. I'm on it.

[2015-01-09 02:24] wcandillon commented on #38
@borisirota It looks that this is fixed in the latest version of the package. Are you using the latest version of the package?

[2015-01-09 02:29] wcandillon commented on #38
@borisirota nevermind, I am able to reproduce it, working on a fix now.

[2015-01-09 02:45] #38 closed

[2015-01-09 12:03] borisirota opened #40 "Add support for "global" path object parameters"
Hi,

As specified in the spec, the paths object can contain [parameters property](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#path-item-object-) as well and not only http method names.

As I see in [the code](https://github.com/wcandillon/swagger-js-codegen/blob/master/lib/codegen.js#L35), it expects only http methods.

I use this when using [path templating](https://gi

[2015-01-09 12:44] borisirota opened #41 "Global parameters $ref issue"
Hi,

I'm familiar with the "#/parameters/PARAM_NAME" syntax when accessing globals.
It seems that [the code](https://github.com/wcandillon/swagger-js-codegen/blob/master/lib/codegen.js#L61) expecting it to be without the prefix "#/parameters".

I guess that this prefix is needed because there are few objects that defines global parameters (there is the [definitions object](https://github.com/swagg

[2015-01-09 13:24] borisirota opened #42 "Add 'Authorization: Bearer TOKEN' header to authenticated requests"
Hi,

The swagger spec supports [Security Definitions Object](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#securityDefinitionsObject) and allows to authenticated specific paths while adding them the `security` property to a path:
[code]

I think that as a starting point, adding the requested header to paths that contains the security property will be great (because suppor

[2015-01-09 13:38] borisirota commented on #34
@wcandillon @pulkitsinghal

swagger supports [vendor extensions](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#specification-extensions-).
What do you think about adding special property to support custom method names (something like `x-swagger-js-codegen-method-name`)?

Example:
[code]

[2015-01-09 14:39] wcandillon commented on #34
@borisirota Why do you believe it should be different from operationId?

[2015-01-09 15:13] borisirota commented on #34
I see. My use case:

I'm using swagger-tools and swaggerRouter which maps the operationId into a method inside a specific controller (specified in x-swagger-router-controller).

There is one swagger file containing all the api paths -> the API composed of several models -> each model implemented in its own controller (it doesn't have to be this way, but its a modular and a convenient separation) -

[2015-01-09 18:08] wcandillon commented on #41
@borisirota Can you send me a swagger spec and some operations that should be invoke from this spec? I would like to add it to the test suite and take it from there.

[2015-01-09 18:10] wcandillon commented on #27
@wking I'm closing the issue for now but PRs are definitely welcome. Also if the current setup has limitations that I do not foresee, please let me know.

[2015-01-09 18:10] #27 closed

[2015-01-09 18:32] wcandillon commented on #23
@bradygaster I'm closing this for the moment, keep me posted.

[2015-01-09 18:32] #23 closed

[2015-01-09 18:59] wcandillon commented on #40
@borisirota I order to efficiently solve this issue, could you send me a concrete use case (swagger file + operation(s) to be invoked)?

[2015-01-09 19:00] wcandillon commented on #42
@borisirota I order to efficiently solve this issue, could you send me a concrete use case (swagger file + operation(s) to be invoked)? So we can test the scenario from end to end. Unfortunately on our side we are still using swagger 1.0.

[2015-01-10 02:21] #34 closed

[2015-01-10 03:05] borisirota commented on #34
Thanks ! :)

[2015-01-10 03:32] borisirota commented on #41
I still didn't start my implementation (just saw this issue in the code) so I generated a valid swagger spec that addresses this issue. The request must contain a query param 'id' which it's schema need to be taken from the global parameters object:
[code]

[2015-01-10 03:44] borisirota commented on #40
Just noticed that there is no support for path templating at all :)
The request must contain a path param 'userId' which defined under the path and not under the http verb. While invoking all operations inside this path (get and delete), the 'userId' parameter has to be replaced with the real 'userId':
[code]

[2015-01-10 03:57] borisirota commented on #42
The following example expects the request to contain the authorization header only on the /secure_user path (getUserSecure). This header has no affect on the /user path (getUser):
[code]

[2015-01-10 04:03] borisirota commented on #41
In JSON:
[code]

[2015-01-10 04:04] borisirota commented on #40
In JSON:
[code]

[2015-01-10 04:04] borisirota commented on #42
In JSON:
[code]

[2015-01-11 00:36] wcandillon commented on #42
Hi Boris,

Would you like to submit a PR regarding this?

[2015-01-11 01:49] #40 closed

[2015-01-11 11:41] borisirota commented on #41
@wcandillon already commented [here](https://github.com/wcandillon/swagger-js-codegen/pull/45).
In addition, if I understand the code correctly, in the updated code I think that [L45-L50](https://github.com/wcandillon/swagger-js-codegen/blob/master/lib/codegen.js#L45) and [L68](https://github.com/wcandillon/swagger-js-codegen/blob/master/lib/codegen.js#L68) are redundant and wrong:
1. globalParams

[2015-01-11 11:46] borisirota commented on #42
@wcandillon already commented [here](https://github.com/wcandillon/swagger-js-codegen/pull/45).
About your question, I will. It will take me some time to get to this one though.
Any ideas about the best way to inject the token?

[2015-01-11 15:43] wcandillon commented on #41
@borisirota `globalParams ` might be a confusing name. This variable contains the parameters which are global to the path only (and therefore always included in the method). I don't understand 1. and 2..
1. In the examples you sent me it is an array.
2. `globalParams ` cannot contain parameters that the operation doesn't use.

[2015-01-11 15:52] borisirota commented on #41
@wcandillon You are right. I got confused by myself. Sorry :)
So [#45](https://github.com/wcandillon/swagger-js-codegen/pull/45) fixes [#40](https://github.com/wcandillon/swagger-js-codegen/issues/40) and [#41](https://github.com/wcandillon/swagger-js-codegen/issues/41), right?

[2015-01-11 15:53] wcandillon commented on #41
correct :)

[2015-01-11 15:53] #41 closed

[2015-01-13 22:39] bradygaster commented on #23
That definitely does, help, @wcandillon! Thanks for that. I'll peruse the code and try to grok it and may follow up. Sorry for my lag on the issue's response - email filters #ftw.

[2015-01-23 15:16] borisirota opened #47 "use bracket notation when accessing the parameters object which passed by the user"
[this check](https://github.com/wcandillon/swagger-js-codegen/blob/master/templates/method.mustache#L55) and [this check](https://github.com/wcandillon/swagger-js-codegen/blob/master/templates/method.mustache#L62) uses the dot notation on the parameters object which passed by the user and can contain keys like "this-is-key"

Boris

[2015-01-23 15:17] wcandillon commented on #47
@borisirota ho boy, nice catch!

[2015-01-23 15:18] borisirota commented on #47
:+1:

[2015-01-23 17:47] borisirota opened #48 "swagger 2.0 - missing form parameter handler ?"
Is there a reason that the [getViewForSwagger2](https://github.com/wcandillon/swagger-js-codegen/blob/master/lib/codegen.js#L79) isn't checking for [formData](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#fixed-fields-7) while [getViewForSwagger1](https://github.com/wcandillon/swagger-js-codegen/blob/master/lib/codegen.js#L137) do ?

I'm not facing problems with it, just

[2015-01-25 08:46] #47 closed

[2015-01-25 08:46] #48 closed

[2015-02-09 20:25] borisirota opened #54 "swagger 2.0 - add domain automatically based on schema, host and basePath if present"
the swagger 2.0 spec supports [schema, host and basePath](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#swagger-object-) so the domain can be taken from there without the need to pass it in the Model construction.

[2015-02-09 21:13] wcandillon commented on #54
@borisirota good point!

[2015-02-10 14:28] #54 closed

[2015-02-12 11:05] #42 closed

[2015-02-12 12:33] borisirota opened #57 "support passing arguments on $broadcast and $on events in angular client"
A use case for that can be listening to getToken event and then automatically add the new generated token. something like:
[code]

Moreover, attaching the path attribute to the method in order to create one source of truth (the swagger spec) for the events mechanism (no need to dig in the implementation to check the path and to change it manually when changed in the spec).
In the method template i

[2015-02-12 13:37] borisirota opened #58 "Proposal - add client side validation"
Currently there is support for required and partial support for pattern (is there a reason why its supported only in query parameters ?).

I think that for the node client it can be very convenient right away.
The angular client is more complex because in order to provide a good user experience its need to be through the form validation mechanism.

Anyway, I'm using the angular client and I'll try

[2015-03-13 22:54] lorenjerickson opened #62 "query string parameter names should not be transformed with respect to case"
According to the W3 spec for URIs, query string parameter names should be considered case-sensitive unless the scheme being used specifically calls them out as being case-insensitive.  See [this](http://stackoverflow.com/questions/24699643/are-query-string-keys-case-sensitive).  Note that the HTTP spec [here](http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html) does not specify that query parame

[2015-03-14 16:18] hekike opened #65 "Client side library with browserify / wepback with superagent"
I've been working on a branch to transform `swagger-js-codegen` from `request` to `superagent` because `superagent` is able to run on both client and server sides.
This would make it possible to bundle the output code with browserify/wepback and provide a client library as well.

Is it something what you find interesting?
Should i continue the work?

Progress: https://github.com/hekike/swagger-js-

[2015-03-14 17:19] #62 closed

[2015-03-14 17:20] wcandillon commented on #62
@lorenjerickson I fixed the bug in version 1.0.0, can you confirm?

[2015-03-14 17:26] wcandillon commented on #65
@hekike I think it would be interesting to have only a single template for both browser and nodejs javascript.

[2015-03-14 22:32] lorenjerickson commented on #62
Confirmed.  Thank you!

On Sat, Mar 14, 2015 at 11:20 AM William Candillon <notifications@github.com>
wrote:

[2015-04-01 10:03] OwenBrotherwood opened #67 "Minimum swagger json gives TypeError: Cannot read property 'toUpperCase' of undefined"
For some reason, a minimum json (from Swagger Editor) gives TypeError: Cannot read property 'toUpperCase' of undefined

cat test.js
-------------
var fs = require('fs');
var CodeGen = require('swagger-js-codegen').CodeGen;

var file = 'swagger/min.json';
var swagger = JSON.parse(fs.readFileSync(file, 'UTF-8'));
var angularjsSourceCode = CodeGen.getAngularCode({ className: 'Test', swagger: swagger

[2015-04-01 17:17] wcandillon commented on #67
thks for reporting this. I proposed a fix for merging.

[2015-04-01 19:14] #67 closed

[2015-06-07 02:04] indolering commented on #65
@hekike Any progress on this?  Does your fork pass all of the tests?

[2015-06-08 00:40] indolering opened #76 "Basic Auth Support"
Does the Node.js template support basic auth?  It looks like it only accepts API tokens....

[2015-06-08 06:45] wcandillon commented on #76
No it is not supported. However you might be able to use basic auth using global options https://github.com/request/request#requestdefaultsoptions of the request module?

[2015-06-08 20:53] indolering commented on #65
For me, there are two primary reasons for wanting to pre-generate a library: static builds for deployment and enabling the IDE to pickup on available commands.  Browserify tends to bloat the size of the package and it confuses IDEs.

A better strategy would be to switch to the upcoming [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) or [Popsicle](https://github.com/blakeemb

[2015-06-08 20:57] indolering commented on #76
True, although I would prefer to use Popsicle since I am deploying to the browser.

[2015-06-09 06:14] hekike commented on #65
@wcandillon no, unfortunately I also started to do a heavy refactor and added some features what we needed asap at our company.

The good news is that we are using the generated code for months, in production as well. The bad news is that I still need time to fix all of the tests.

[2015-07-16 14:05] Contagious06 commented on #76
[code]

[code]

[2015-08-19 01:25] jdhiro opened #80 "Paths with a period result in error during codegen"
Paths with a period in them, such as a version number, result in an error:

[code]

[2015-08-19 08:45] wcandillon commented on #80
@jdhiro Can you provide an input swagger file to add to the test suite when we fix this issue?

[2015-08-19 23:16] jdhiro commented on #80
@wcandillon you bet, I'll get it together

[2015-09-24 12:03] AndreSteenveld opened #84 "Link to the gulp task is dead"
The link in the readme pointing to the example gulp task is dead. There is a fork of the project though and the (same?) task can be found here. https://github.com/wcandillon/cellstore/blob/master/tasks/swagger.js

[2015-09-24 12:11] wcandillon commented on #84
@AndreSteenveld thanks for pointing that out. :+1:

[2015-09-24 12:12] #84 closed

[2015-10-12 08:00] teone opened #87 "Client Side Library with Fetch API"
Hi @wcandillon,
Thanks for this usefull library.

I've started working on generating a Client Side library that use Fetch API to make request.
I would like also to support a _write to file_ option.

Does this feature are of you interest?

[2015-10-20 15:45] famer opened #88 "Bin or executable js with parameters to generate classes"
Project should have some bins or executable js that will accept parameters and output generated classes. It's meaningless to write a program every time classes needed t be generated.

[2015-11-18 21:20] gersongoulart opened #90 "params not being added to method"
Hi there!

I have just recently updated to the latest version of swagger-js-codegen and since then have been struggling with an issue: suddenly all parameters have despaired from their respective methods.

Fiddling with the code I found the problem might be in this line:
https://github.com/wcandillon/swagger-js-codegen/blob/master/lib/codegen.js#L89

where lodash chain method has been used as `_.c

[2015-11-19 19:46] gersongoulart commented on #90
Hey! Just to add an extra bit of information about this bug:

This project currently depends on lodash@^2.4.1 but newer versions of lodash (which may be installed in the project, as it is in my case) run the `chain` method lazily.

Running this piece of code in the https://lodash.com/docs#chain page will show you what I am talking about:

[code]

This is exactly what is happening with params, whic

[2015-11-20 17:11] mm-gmbd opened #91 "Swagger body parameters"
I'm not sure if this is me misunderstanding the Swagger specification, or if this is a bug, but I'll go ahead and lay it out.

According to the specification, a [Path Item Object](http://swagger.io/specification/#pathItemObject) can contain a field named `parameters`, which is an array of either [Parameter Objects](http://swagger.io/specification/#parameterObject) or [Reference Objects](http://swa

[2015-11-24 10:18] wcandillon commented on #91
@mm-gmbd which are the body parameters you are referring to? In the swagger sample above I see only one named `body`. Given the swagger sample above, could you send me an example of expected generated source code? It would help to understand the issue a bit better.

[2015-11-24 10:23] wcandillon commented on #90
@gersongoulart nice catch! sorry for this bug 🙈

[2015-11-24 10:26] #90 closed

[2015-11-29 19:13] gersongoulart commented on #90
@wcandillon it's a pleasure to help! Thank you for the fix! :)

[2015-11-30 21:21] mm-gmbd commented on #91
@wcandillon, sorry for the late reply. Correct, there is only one parameter named `body`, and that is actually enforced by the [*swagger spec itself*](http://swagger.io/specification/#parameterObject):

Also:

| Field Name | Type | Description |
| ---------------- | ------- | ---------------- |
| schema      | [Schema Object](http://swagger.io/specification/#schemaObject) | **Required.** The schem

[2015-12-04 11:52] jmls opened #95 "error during code generation"
I'm getting the following error when trying to generate node code

[code]

the only place I can find anything like that in the json file is here
[code]

the json file passes the online validation at http://bigstickcarpet.com/swagger-parser/www/index.html with no errors or warnings, so I don't quite know where or what the problem is ;)

thanks

[2015-12-04 12:04] wcandillon commented on #95
Can you send me the swagger file? I will add it to the test suite.

[2015-12-04 12:24] jmls commented on #95
yeah, I've been narrowing things down, and this valid spec

[code]
barfs

I am making an educated guess that the "head" verb is not catered for ... ;)

[2015-12-04 12:42] wcandillon commented on #95
@jmls The issue is the `operationId` parameter which we use as a method name. Would it be possible for you to have a more friendly operationId?

[2015-12-04 12:49] jmls commented on #95
bugger  - I'm afraid that this comes from a third-party, so I can't change it. Sorry.

[2015-12-04 12:58] #95 closed

[2015-12-04 12:59] wcandillon commented on #95
@jmls fixed in 1.1.8 hopefully

[2015-12-04 13:17] jmls commented on #95
certainly seems to work for me! many thanks

[2015-12-05 15:38] jmls opened #97 "split class into models"
is it possible to move the models into their own module ? for example, if I have users and customers,

instead of
[code]
I could have
[code]
which looks a lot better in code  - User.create()

I also would like to know what's happened here :
[code]

are these methods than can be overridden by the x- stuff ?

[2015-12-20 03:01] okigan opened #98 "How to keep method organization"
We have our methods organized by tags (and path), but when swagger-js-codegen produces js code all methods end up clubbed into one object.

So how to keep methods organized by tags (to get js code organized similarly how swagger ui presents it) ?

[2016-02-23 12:14] dciccale commented on #65
+1 for bluebird and superagent.

I am using bluebird in my fork as well.

bluebird is very powerful, for example it allows to catch multiple predicate errors. Which is super handy.

It also has a compliant API. It have also deprecated "deferred's"  in favor of spec compliant syntax. and some other cool stuff

[2016-03-07 13:03] wcandillon commented on #65
@hekike @dciccale I started a PR for this: #104 .

[2016-03-07 15:51] #65 closed

[2016-03-09 16:17] wcandillon opened #108 "Test support for array values"

[2016-03-10 18:51] langdonx opened #109 "Get an error: Class properties must be methods"
test.js created from by pasting the Example from `README.md`:

	$ node test.js
	xxx\node_modules\swagger-js-codegen\lib\codegen.js:231
			throw new Error(error.reason + ' in ' + error.evidence + ' ('
			      ^
	Error: Class properties must be methods. Expected '(' but instead saw 'domain'. in     private domain: string; (E054)
	    at xxx\node_modules\swagger-js-codegen\lib\codegen.js:231:23

[2016-03-10 19:01] langdonx commented on #109
It's a bug in the template:

https://github.com/wcandillon/swagger-js-codegen/blob/master/templates/angular-class.mustache#L18

The declaration of `domain` needs to be moved to line 17.  I'm guessing not a lot of folks use this for Angular 1? :wink:

[2016-03-27 14:26] pixelshaded commented on #109
getting the same error when trying to generate typescript.

[2016-03-27 15:52] #109 closed

[2016-03-27 15:55] langdonx commented on #109
FYI, @wcandillon that fix will still generate bad code for JavaScript  `angular-class.mustache` has a bug in it (line 31+39 are referencing `domain` when they should be referencing `this.domain`.

[2016-03-27 15:58] wcandillon commented on #109
@langdonx can you try in v1.3.3 to check if this is fixed?

[2016-03-27 16:01] langdonx commented on #109
Ahh, it does look fixed, sorry!  Threw me off that the change wasn't associated w/ the issue.

[2016-03-27 16:02] wcandillon commented on #109
yes sorry it was my mistake

On Sun, Mar 27, 2016 at 6:01 PM, Langdon Oliver <notifications@github.com>
wrote:

[2016-04-06 11:07] no-more opened #112 "Angular2 support"
Hello,

is it planned to support angular2 soon ?

Thanks.

[2016-04-06 11:37] wcandillon commented on #112
@no-more You can use the typescript template for your angular2 app at the moment. Hopefully someone will contribute a template based on the typescript one that is using the angular http client instead of superagent.

[2016-04-19 12:59] PizzaPete opened #113 "Generator ignores produces value (Accept headers)."
Within my JSON schema I've got the 'produces' key set to 'application/pdf'.

[code]

After generating the service it keeps requesting the API with 'application/json'.

[2016-04-19 13:10] wcandillon commented on #113
Do you have a simple example I could test?

[2016-04-19 13:16] PizzaPete commented on #113
I've got a JSON to test with. I've removed any sensitive information.

[code]

[2016-04-20 08:55] #113 closed

[2016-04-22 13:38] eburi opened #115 "Generate Definitions from swagger"
Hi,

I'd like to use swagger-js-codegen to generate Typescript Code from a swagger-file to get errors in case the REST interface changed. But I'm getting a lot of errors due to the missing Definitions.

I found the [ts-barnch](https://github.com/wcandillon/swagger-js-codegen/tree/ts) that has the code required to generate the Definitions, but it looks outdated compared to the master-branch.

What

[2016-04-22 14:07] wcandillon commented on #115
@eburi The ts-barnch can be ignored. Yes a pull request would be nice. What kind of errors are you getting? Do you had the missing definition when generating the source code? Like so:

[code]

I'm using swagger-js-codegen for a typescript project and I didn't come across the use case of having to generate the definition file. In which scenario would that be useful?

[2016-04-22 15:39] eburi commented on #115
@wcandillon I can't share that swagger file. But here is a part of it that shows the problem:
[code]
It's a swagger 2.0 file and it's been generated in a Java-Backend. The query-parameter "fn" is not required and it's only specified that it should be an array. Of course, it would be nice if that swagger-file would be complete. But I guess this is stuff that can happen.
The fix I made would just de

[2016-04-25 15:22] chdanielmueller opened #117 "Single slash base path"
If the base path is only a single slash the generation is not working properly.
It adds two slashes to the url (http://myapp.com//something).

[2016-04-25 15:51] chdanielmueller opened #119 "Explicitly specify Content-Type"
If the content type is either specified in the operation or as overall "consumes" property it should be added as header.
I got problems with this as my API checks for the Content-Type property.

[2016-04-26 09:01] eburi commented on #115
I changed the code in my fork here:  https://github.com/eburi/swagger-js-codegen

Now, when I'm using this as my template for 'class', I get what I'm looking for (except for the requests, with superagent where the returned Promises are untyped, but I'm trying to find a solution for this).

**typescript-class-with-definitions.mustache**:
[code]

**test.js**:
[code]

[2016-04-27 07:26] PizzaPete commented on #119
I've fixed this for the 'produces' property a [week ago](https://github.com/wcandillon/swagger-js-codegen/issues/113).
Might help you in fixing it for the 'consumes' property.

[2016-04-27 07:31] chdanielmueller commented on #119
I already opened a pull request #120 which would solve this issue.
(And took your code as example :wink:)

[2016-04-27 07:34] #119 closed

[2016-04-27 07:59] #117 closed

[2016-05-04 02:30] nalbion commented on #112
@no-more I'm working on a feature branch which generates TypeScript code for Angular 1, although I'm not sure whether or not `$http` is still applicable to Angular 2...

[2016-05-04 04:08] no-more commented on #112
Hi,

Thanks, but $http is not available in angular2. And Http, which replace it, is not working the same way as it's working with observable.

Thanks.

[2016-05-04 08:43] nalbion commented on #112
@no-more, it probably wouldn't be too hard for you to adapt after PR #24 is merged

[2016-05-04 08:45] nalbion commented on #112
Sorry. That should be #124

[2016-08-04 12:19] fabm22 opened #134 "angular : how to add responseType:'arraybuffer' to options of generated service method ?"
Hi,

Using a swagger.json file generated from Java code annotated with "@ApiOperation" etc. (see https://github.com/swagger-api/swagger-core/wiki/Annotations) , I end up with this "options" object in my generated Angular js code
[code]

This is cool but I need to specify the ```responseType``` also, ie have something like

[code]

But without going into modifications of the mustache templates, the

[2016-08-04 17:51] fabm22 commented on #134
Looking a bit into this, wouldn’t it be cool to use the Extensions used in Swagger spec, which are seen in the swagger.json like this (in my case, still for paramType) :

[code]
and leverage those ```x-myValue``` entries ? (by the way in Java annotations it can be done using ```@Extension(properties = {@ExtensionProperty()} ..)```

Maybe it is already possible to do that using ```CodeGen.getCustom

[2016-08-18 16:16] PepijnSenders opened #136 "Breaking commit should be major version change."
Hey @wcandillon, this commit: https://github.com/wcandillon/swagger-js-codegen/commit/f0817cd60775efc6f480d066334f06a22e36200a#diff-3e068a9eceaa0cfe1edb512730c5f6b9 broke our live environment, since it change all our parameter names to `camelCase` instead of `snake_case`. These kind of changes are supposed to major changes in your version number. So 1.7.0 would have matches this better.

Please wa

[2016-08-18 16:58] wcandillon commented on #136
@PepijnSenders My apologies for this 🙏

[2016-08-18 16:58] #136 closed

[2016-08-22 06:36] nalbion opened #138 "don't generate client code for OPTIONS requests"
OPTIONS requests are automatically sent by browsers when CORS behaviour is required.  AWS API Gateway requires that OPTIONS requests are included in the schema, but they don't need to be included in generated code.

[2016-08-24 18:59] no-more opened #139 "How to use typescript generation"
Hello,

I'm trying to use typescript generation, but I'm not sure how to do it. Could someone give me more information about :
- The imports property, what is it for ? `CodeGen.getTypescriptCode({ className: 'Test', swagger: swagger, imports: ['../../typings/tsd.d.ts'] });`
- Is it required? it seems to work without?
- Is there any way to generate the models automatically ?
- I'm using hapi-swagge

[2016-08-24 20:55] christrude opened #140 "swagger-JS-codegen sending content-type 'text/plain' when requesting it consume 'application/json'"
So I have newly upgraded to Swagger 2 from 1.x, and am experiencing an odd issue. One of my APIs is getting an incorrect content-type injected into the header and I have no idea where from, you can see below in the SwaggerJSON, The DELETE function even says it consumes application/json, but the CURL(copied from inspect panel) for it sends 'Content-Type: text/plain;charset=UTF-8'. I have provided t

[2016-08-28 17:12] no-more commented on #115
Hi,

At first I didn't realize, but that's exactly what I was trying to ask in #139 .
Please is this fixed? is there a way to generate those definitions? I'm also very interested in this feature.

Thanks a lot.

[2016-09-01 20:12] christrude commented on #140
**** UPDATE *****

I'm a dumb dumb and didn't realize I could've just put the following in my mustache template. This is the correct answer. It takes the proper 'consumes' and 'produces' properties and ensures the right headers are being sent.

    {{#headers}}
        options.headers['{{&name}}'] = {{&value}};
    {{/headers}}

[2016-09-01 20:12] #140 closed

[2016-09-07 17:34] Strauch-Yaron opened #141 "Add Response to Template Variables"
In Swagger I can specify successful responses with a data model.
I need to write a TypeScript integration that specifies the response accordingly. This is impossible since the response model is not part of the template variables.

Can you help me?

[2016-09-12 09:24] dcbrwn commented on #139
Automatic models generation would be really cool. Without this, generated TypeScript client is pretty much useless. Please, indicate in readme that this feature is supported or not.

[2016-10-10 06:48] leachiM2k opened #142 "x-swagger-js-method-name got lost?"
Hey,

I've updated my code-generator dependencies to the newest swagger-js-codegen and figured out, that the support for `x-swagger-js-method-name` has been removed.
Because you still mention it in README.md I did some research and found out that this feature was removed by the commit d89298baff2402ea0208cdc5129047ca403f1ee2 and then shipped with versions > 1.2.0

If it happened accidently I would

[2016-11-04 15:59] wcandillon commented on #115
@eburi can you check in v1.7.0 if the types are generated as you would like? Feel free to re-open.

[2016-11-04 15:59] #115 closed

[2016-11-04 16:00] wcandillon commented on #139
@no-more can you check in v1.7.0 if the types are generated as you would like? Feel free to re-open.

[2016-11-04 16:00] #139 closed

[2016-11-12 04:00] swashcap opened #146 "Add CLI?"
Your project looks super awesome! It would be neat to have a CLI so codegen could be called through an npm script or likewise. I’d be interested in contributing if you want!

[2016-11-23 15:48] tododo opened #150 "How does this support code generation for multiple class in a single swagger.json"
Hi there,

Thank you very much for this helpful library. I was trying this out, and it seems that it can not generate multiple classes for a swagger json file contains definitions with different domain object. I have attached the Pets definition referenced on the Swagger official website.
[Archive.zip](https://github.com/wcandillon/swagger-js-codegen/files/609274/Archive.zip)

Any clues to achieve

[2016-12-07 20:24] bartlomn opened #152 "Support Typescript 'type' template"
Given:
[code]
Expected:
typescript types are generated using custom `my-type.mustache` template

Actual:
Default templates are used

[2016-12-23 12:00] dave-irvine commented on #84
Looks like the new link is dead also.

[2017-01-11 02:24] LegNeato commented on #152
This can be closed now due to https://github.com/wcandillon/swagger-js-codegen/commit/941d04e958b0e2c74713a1158e0496a61a046f65 landing, right?

[2017-01-11 06:16] #152 closed

[2017-01-11 10:51] mgmarino opened #162 "Add support for 'allOf' in type generation"
Currently, objects are given a type 'any' (the fallback type) when they are included via 'allOf'.  It would helpful to have the type information in these cases.

*Note:* we are planning to try to implement this.

[2017-01-17 16:06] nklap commented on #150
+1

[2017-01-17 19:03] bradleat commented on #142
I think you are supposed to use operationId

[2017-01-17 19:04] bradleat commented on #141
Check out:
https://github.com/bradleat/swagger-js-codegen/commit/b26efb018f34f85f5324c39f356915bac39bca4f

[2017-02-22 09:55] #162 closed

[2017-03-02 10:13] wcandillon commented on #146
@swashcap Yes a PR would be welcomed :)

[2017-03-02 10:27] wcandillon opened #167 "Contributor needed"
Unfortunately, I am not using this project anymore and I'm having trouble keeping up with all its pull requests, would someone be interested in becoming a contributor to this project?

[2017-03-16 21:44] danmarshall commented on #167
Perhaps the [TypeStrong](https://github.com/TypeStrong) org?

[2017-03-18 11:14] #138 closed

[2017-05-18 19:28] robocel opened #177 "Breaking change introduced in version 1.9.0 for Node 4.X"
The change made to the file typescript.js in version 1.9.0 contains an ES6 feature that is not supported on older version of Node (such as Node 4.X):
https://github.com/wcandillon/swagger-js-codegen/commit/e5659e03636e2e5f006c3d29425822f28e827463#diff-edcbe97b3f08275a033ef78d5ebb1911R51

If this package is intending to use semantic versioning (of course it's any library maintainers right to do any

[2017-05-26 01:37] hong-boy opened #179 "[HELP]"
I'm using this module to generate my own nodejs SDK, and it's pretty cool! But I have another requirement: Could this module generate unit-test code automatically? Just like swagger-editor does.
![image](https://cloud.githubusercontent.com/assets/28519731/26477230/ad9c5ed6-41f6-11e7-8388-52e97e946185.png)
![image](https://cloud.githubusercontent.com/assets/28519731/26477256/ddea5872-41f6-11e7-96d8

[2017-05-30 23:13] jinchenbravo opened #181 "How to support https"
I have a swagger spec which is using https instead of http,
do you have a plan to add the support of https in your code-gen ?

Thanks a lot

[2017-08-10 12:44] diogocravo opened #188 "Support enum values"
I wanted to be able to validate whether a parameter the client is sending matches the enumerated values in the swagger. Unfortunately as of today that validation is only possible if the enum is also a singleton, or am I missing something?

[2017-08-15 14:11] Ryuno-Ki commented on #188
Hi, @diogocravo!

You would need to patch https://github.com/wcandillon/swagger-js-codegen/blob/9092973b7d3a5d893abe3109a6b73b4de7c38d6a/lib/typescript.js#L24

Ideally it should be easily able to patch each individual value in my opinion …

[2017-08-24 07:47] DTPhil opened #189 "TypeError: str.replace is not a function"
I am getting the following error:

[code]

When I comment out:
        //headers['Content-Type'] = ['application/x-www-form-urlencoded'];
it works.

This seems to be an error with the library. Maybe this can be fixed via a change of headers?

Thanks!

[2017-09-20 02:37] OmgImAlexis opened #190 "Invalid js being produced"
I don't think it's an issue with our swagger file since this lib works fine with typescript but when I try `getNodeCode` I end up with a file that's not usable.

<details>
<summary>api.js</summary>

[code]
</details>

<details>
<summary>api.ts</summary>

[code]
</details>

[2017-09-20 02:43] OmgImAlexis commented on #190
Looks like this is caused by the fact that there's no default class name being set.

[2017-09-20 16:25] marcrd opened #192 "Unclear suffix naming convention with duplicate operation ID's"
In https://github.com/wcandillon/swagger-js-codegen/pull/186, it was changed so if you have duplicate operation ID's, the library appends numeric suffixes using `_1`, `_2`, etc.

These numerically suffixed methods don't provide much context to the caller. I'd propose appending the path parameters to the method name, so as to make it unique with the parameter context.

For example, let's say you ha

[2017-09-25 01:23] OmgImAlexis commented on #190
@wcandillon can you look at this when you get a chance.

[2017-09-25 20:01] binarydigits opened #193 "Can't execute a4apigen after installation"
Hi everyone,

## Background Info:
1) installed a4apigen
2) verified the directory in node_module to make sure it exist

## Problem info:
1) **can't run a4apigen**; command used (with quotes, without quotes, etc):
[code]
2) **error produced**:
- popup window.
- Script: "...bin/a4apigen.js"
- Line: 1
- Char 1
- Error Invalid character
- Code: 800A03F6
- Source: Microsoft JScript compilation error

#

[2017-10-11 23:52] pouyanh commented on #146
@wcandillon @swashcap There already is one: #195

[2017-10-16 04:18] vijaybernad opened #197 "Swagger js codegen Dosent generate header with proper indentation in nodejs"
Hi,

I am generating stubs using swagger-js-codegen .Everything is fine but i find error in the stubs that is generating  .If we have multiple Header then ,for headers it sets the value as:

headers['Accept'] = ['application/json, application/vnd.il.contents.v1+json']; {invalid header type when we send a POST request}
headers['Content-Type'] = ['application/json,application/vnd.il.contents.v1+json

[2017-10-25 13:16] vijaybernad commented on #197
Any Updates on this defect

[2017-10-26 17:46] tony-gutierrez opened #198 "Doesnt support $ref to external file?"
As far as I can tell, it doesn't seem to follow refs to any file outside the main spec file?

[2017-10-31 09:07] sytolk opened #199 "React Native Flow types generation"
I'm using swagger-js-codegen script in React Native project to generate React Rest Client from swagger-2.0.json with definitions (mapping model). React native using Flow for JS types. Using `getReactCode` we don't have swagger definitions generated into Flow types now
[code]
I'm using `getTypescriptCode` and convert TypeScript (models only) into Flow types with https://github.com/joarwilk/flowgen

[2017-11-01 11:39] sytolk opened #200 "Option to skip properies with null values"
I have receive from web service response properties like: "registrationDate":null
I think it's better to skip this properties in JS Object (default value is null or undefined)
The same options of the ObjectMapper is used in Java Deserialization:
https://github.com/FasterXML/jackson-databind/wiki/Deserialization-Features#value-conversions-coercion

[2017-11-08 21:36] marcrd commented on #192
Bumping this

[2017-11-10 14:20] sytolk opened #201 "Wrong format of POST request body data"
I have POST Endpoint from WS that accept application/x-www-form-urlencoded
[code]
and generated React client
[code]
When I call this request header Content-Type: application/x-www-form-urlencoded is missing and body data is JSON formatted {param1=.., param2=..} instead of: param1=..,param2=..

[2017-12-27 15:24] kibertoad commented on #167
@wcandillon I would be interested in joining as a contributor. What is your estimate for amount of time needed weekly to be of use? I think I could be doing something similar to 10 hours a week, more when working on some task which is related to my day work.

[2017-12-27 15:30] wcandillon commented on #167
@kibertoad Any amount of help would be appreciated 🙋🏼‍♂️

[2018-02-02 04:58] HawkeyePierce89 commented on #192
Yes, it's bad solution :( And this works wihtout reference to ID's, just in the order of methods in Swagger

[2018-02-02 04:59] vijaybernad opened #209 "Can we generate models in swagger js codegen"
I am using swagger js codegen to generate source code in nodejs .it works superb.

However i have question ,

If we use swagger codegen and use java lang , models and handlers gets generated as part of stubs generation but in swagger js codegen it does not generate any models.

can you please guide me if we can generate models in swagger js codegen .This will actually help when there is an change

[2018-02-02 15:37] HawkeyePierce89 commented on #192
How a temporary solution you can use ```getPathToMethodName(opts, m, path))``` instead ```var methodName = (op.operationId ? normalizeName(op.operationId) : getPathToMethodName(opts, m, path));```

[2018-02-12 18:07] marcrd commented on #192
That's a good idea, I'll give it a try!

[2018-03-02 12:38] gvlekke opened #212 "Is this codegen compatible with openapi 3.0.0?"
I have a openapi 3.0.0 swagger file and i want to create the code for that:

`CodeGen.getReactCode({className: 'Api', swagger: swagger});`

The result of this is that I get this error:

[code]

Am I doing something wrong or is this generator not compatible with openapi 3.0.0 ?

[2018-03-08 17:30] Malchia7 opened #213 "generated get calls include body by default"
So I was generating code to work with the EVE Online api and was getting bad requests returned by the server.

Dug into it and it was because the generated code included empty but non-null bodies in all requests and the server was rejecting them. Presumably their server is just being more strict than the HTTP spec which allows for GET to have a body that would be ignored.

Is it worth adding an op

[2018-03-08 21:32] jayalakshmis opened #214 "Split the generated ts into different files?"
Hello,
I have the following code to generate ts files for my vue app. The following code generates a single file at the specified location, however I was wondering if there is an option/configuration that would let me split the generated ts files instead of a single file?

The sample2.json that i have is from here http://petstore.swagger.io/v2/swagger.json.

[code]

**Packages Used**
 "swagger-js-

[2018-03-08 23:30] duffman03 commented on #213
I was just dealing with this today(2nd time this year). It's painful enough to troubleshoot that I hope we can get a fix.

[2018-03-10 11:35] phil-warner commented on #146
Can you point to the CLI documentation please?

[2018-03-11 21:02] #146 closed

[2018-04-04 14:58] asbetter opened #215 "React code generation error"
React code generation error:
Too many errors. (80% scanned). in undefined (E043)
at \swagger-js-codegen\lib\codegen.js:301:23

[2018-04-26 00:36] oliverhr commented on #213
@duffman03 accordingly to what you mention in the edition added to your comment, this issue should be marked as closed?

[2018-04-26 00:49] duffman03 commented on #213
Actually my edit shows that swagger codegen is actually out of spec now. Previously it was tolerable to include empty bodies in those requests, but now its agaisnt spec.

[2018-04-28 02:45] lordenzo commented on #212
@gvlekke I don't think this generator is compatible wtih 3.0.0, if you see this line of code https://github.com/wcandillon/swagger-js-codegen/blob/e3920f21f0decf81537c48c3e17b387d3b8dd0d5/lib/codegen.js#L258
it seems to only support 2 or 1. 😓

[2018-04-30 08:57] gvlekke commented on #212
yeah I already thought that... hope it will update soon

[2018-05-18 05:14] blbird opened #217 "How to change method name?"
Previously, there was "x-swagger-js-method-name". So, I could set the custom method name. However, it is removed. So, how can I change the method name which I want?

[2018-06-21 17:56] antonreshetov commented on #212
Just now, you can simply replace `"openapi": "3.0.0"`, = > `"swagger": "2.0"`. Сrutch, but works 😬

[2018-07-17 23:12] adamabeshouse opened #220 "need a way to access response headers"
In swagger-codegen, they have `WithHttpInfo` methods which return the response header as well as the body.

https://github.com/swagger-api/swagger-codegen/pull/4902

Currently there doesn't seem to be a way to do this in swagger-js-codegen, the request promises resolve with the response body automatically.

[2018-07-18 18:25] #220 closed

[2018-09-03 23:08] srchulo opened #222 "Generated JS client should include request/response interceptors, too"
### Is your feature request related to a problem?
I'd like to know when any request in my generated Swagger client fails, but there is no interceptor support for the generated JS client. I like using a generated client more as I feel this is more natural.

### Describe the solution you'd like
I'd like for the generated swagger JS code to include request/response interceptor support, just like it d

[2018-10-11 06:50] restrry commented on #167
@wcandillon does ie mare sense to move the library into an organisation and add some volunteers? I forked another fork as I need only ts generator, but would like to contribute here as well

[2018-11-13 00:26] srchulo opened #227 "Information in submodels gets thrown away"
Hi,

When I create an array of sub models as shown in option 1 of this answer:

[](https://stackoverflow.com/a/41100266/834140)

The extra information in the sub model gets thrown away. For example:
[code]

[code]

Then when I get back a response and do

`this.animals = data`

The only value that is kept is `type`, and `color` and `height` are thrown away.

[2018-11-19 15:51] #212 closed

[2019-02-18 18:08] kastentx commented on #167
@wcandillon I have a current interest in this project and would be interested in taking over maintenance. Are you still looking to hand this off?

[2019-02-18 21:19] wcandillon commented on #167
yes I'm very much interested in that. Do you know if there would be a way for you as well to publish new version of the package on npm?

[2019-03-28 22:42] SamD opened #231 "No function/property request.metrics error"
I attempted to generate a third-party js api using their swagger spec.

It threw an error complaining that `request.metrics` didn't exist on the first go, I wasn't aware swagger used `superagent` but that is what the `request` is created from and there is certainly no `metrics` property on it, it was supposed to be a function call.

[2019-07-11 11:48] odranoelBR opened #238 "Generated models with circular dependecy"
The model generated from a class with circular dependency comes with an
import from self, generating the error "has already declared".

How can i avoid it ?

[2019-07-16 12:52] #238 closed

[2019-09-19 14:37] r0und3r commented on #193
Install it globally.

[2021-01-21 12:36] devlato opened #249 "Maintaining it"
Hey @wcandillon, if you're looking for a new maintainer, happy to maintain it.

[2021-01-21 12:38] wcandillon commented on #249
yes let's do it.

[2021-03-23 09:25] acotty commented on #249
@devlato Has not forked the repo, so how is he going to maintain it?

[2021-04-12 12:18] jimmywarting commented on #249
I think i maybe want to join in

[2021-04-12 23:19] acotty commented on #249
Good on @jimmywarting as he has a PR, so he has forked the repo and has worked on it.

[2021-04-13 05:50] wcandillon commented on #249
Fantastic, how can I help?

[2021-04-13 10:06] jimmywarting commented on #249
Well, you could review my PR #250

[2021-04-13 10:13] jimmywarting commented on #249
I was thinking... how would you feel about using template literals instead of using mustache?

[2021-04-16 14:31] wcandillon commented on #249
I haven't touched this project in years, would you like to take over?

[2021-04-16 18:18] jimmywarting commented on #249
Emh, sure